:host {
    display: block;
    width: 600px;
}

h5 {
    margin-top: 1rem;
    font-weight: 600;
}

.table {
    width: 100%;
    margin-top: 0.5rem;
    border-collapse: collapse;

    th,
    td {
        padding: 0.5rem;
        border: 1px solid #ddd;
        text-align: left;
    }

    th {
        background: #f7f9fc;
    }
}