<div class="tab-container">
  <div class="tab" [class.active]="selectedTab === 'divisi'" (click)="selectTab('divisi')">
    Divisi
  </div>
  <div class="tab" [class.active]="selectedTab === 'proyek'" (click)="selectTab('proyek')">
    Proyek
  </div>
</div>

<div class="content">
  <button nbButton status="primary" (click)="selectedTab === 'divisi' ? openFormDivisi() : openFormProyek()">
    Tambah {{ selectedTab === 'divisi' ? 'Divisi' : 'Proyek' }}
  </button>

  <table class="table table-bordered mt-3" *ngIf="selectedTab === 'divisi'">
    <thead>
      <tr>
        <th>Kode Divisi</th>
        <th>Nama Divisi</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of divisiData">
        <td>{{ item.kode_divisi }}</td>
        <td>{{ item.nama_divisi }}</td>
      </tr>
    </tbody>
  </table>

  <table class="table table-bordered mt-3" *ngIf="selectedTab === 'proyek'">
    <thead>
      <tr>
        <th>Kode Proyek</th>
        <th>Nama Proyek</th>
        <th>Tipe Penanggung Jawab</th>
        <th>ID Karyawan</th>
        <th>Nama Opsional</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of proyekData">
        <td>{{ item.kode_proyek }}</td>
        <td>{{ item.nama_proyek }}</td>
        <td>{{ item.tipe_penanggung_jawab }}</td>
        <td>{{ item.id_karyawan }}</td>
        <td>{{ item.nama_penanggung_jawab_opsional }}</td>
      </tr>
    </tbody>
  </table>
</div>
