.tab-container {
    display: flex;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
}

.tab {
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    color: #3366ff;
    border-bottom: 3px solid transparent;
    transition: border-color 0.3s;

    &.active {
        border-bottom: 3px solid #00d68f;
        font-weight: bold;
    }
}

.content {
    padding: 1rem;
}