.form-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.form-item {
    display: flex;
    flex-direction: column;
}

.form-item.full {
    grid-column: span 4;
}