:host ::ng-deep nb-card {
    max-width: 900px;
    margin: auto;
}

:host ::ng-deep .form-grid {
    display: grid;
    grid-template-columns: repeat(4, 10fr); // 2 kolom horizontal
    gap: 1rem;
}

:host ::ng-deep .form-group {
    display: flex;
    flex-direction: column;
}

:host ::ng-deep input[nbInput],
:host ::ng-deep nb-select,
:host ::ng-deep nb-datepicker {
    width: 100%;
}

:host ::ng-deep .footer-button {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1rem;
}

@media (max-width: 768px) {
    :host ::ng-deep .form-grid {
        grid-template-columns: 1fr; // Menjadi 1 kolom di tampilan mobile
    }
}