<nb-card>
  <nb-card-header>{{ isEdit ? 'Edit' : 'Tambah' }} Satuan</nb-card-header>
  <nb-card-body>
    <form [formGroup]="form">
      <!-- <div class="form-group">
        <label for="kode">Kode Satuan</label>
        <input nbInput fullWidth formControlName="kode_satuan" disabled />
      </div> -->

      <div class="form-group mt-3">
        <label for="nama">Nama Satuan</label>
        <input nbInput fullWidth formControlName="nama_satuan" />
        <div *ngIf="form.get('nama_satuan')?.invalid && form.get('nama_satuan')?.touched" class="text-danger">
          Nama satuan wajib diisi.
        </div>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer class="d-flex justify-end gap-2">
    <button nbButton status="basic" (click)="batal()">Batal</button>
    <button nbButton status="primary" (click)="simpan()" [disabled]="form.invalid">
      {{ isEdit ? 'Update' : 'Simpan' }}
    </button>
  </nb-card-footer>
</nb-card>
