@use '@nebular/theme/styles/theming';
@use '@nebular/theme/styles/themes/default'; // biar bisa ambil variable tema default

.footer {
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  border-top: 1px solid theming.nb-theme(border-basic-color-3);
  background-color: transparent; // tetap transparan

  .footer-text {
    color: theming.nb-theme(text-basic-color); // akan jadi putih di dark/cosmic
    text-align: center;

    strong {
      color: theming.nb-theme(text-primary-color); // adaptif juga
      font-weight: 600;
    }

    a {
      color: theming.nb-theme(link-text-color); // link sesuai tema
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}